/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 780px;
    padding: 0 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container__footer-outside {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .container__footer-inside {
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container__footer-inside {
    width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .container__footer-inside {
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container__footer-inside {
    width: 780px;
    padding: 0 40px;
  }
}

@media screen and (max-width: 1200px) {
  .container__footer-inside {
    margin: 0 auto;
  }
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container--navbar {
  padding: 4px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container--navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .container--navbar {
    padding: 10px 30px;
  }
}

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 768px) {
  .container--hero {
    padding-left: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container--about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .container--about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .container--why-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container--master-tablet {
    width: 530px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .description-container {
    width: calc(50% - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .description-container {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 1200px) {
  .description-container--why-us {
    width: 100%;
  }
}

.section-box {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .section-box {
    padding: 84px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section-box {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-box {
    padding: 130px 0;
  }
}

.section-suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-suptitle::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.section-suptitle--primary {
  color: #303030;
}

.section-suptitle--senondary {
  color: rgba(157, 164, 189, 0.6);
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 20px 0;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 42px;
  }
}

.section-title--lighten {
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .section-title--center {
    text-align: center;
  }
}

.section-title--price {
  margin-bottom: 44px;
}

.section-subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.section-subtitle--why-us {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .section-subtitle--why-us {
    width: 500px;
  }
}

.section-description {
  margin: 20px 0 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.btn-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  min-width: 160px;
}

.primary-btn {
  min-width: 160px;
  display: inline-block;
  padding: 11px 19px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .primary-btn--footer-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.primary-btn--darken {
  color: #303030;
}

@media screen and (max-width: 768px) {
  .color-mobile-menu {
    color: #303030;
  }
}

header {
  height: 100vh;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #00000026, #00000025), url(../images/slider-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  .header-bg {
    width: 710px;
    right: -40px;
  }
}

@media screen and (min-width: 1200px) {
  .header-bg {
    width: 1125px;
    right: -40px;
  }
}

.top-line-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.nav-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-brand {
  padding: 2px;
}

.menu-fixed {
  background-color: #191C26;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.menu-fixed-logo {
  border-radius: 32px;
}

.menu-fixed-logo .logoimg {
  fill: #FFFFFF;
}

.logoimg {
  width: 58px;
  height: 46px;
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .logoimg {
    fill: #303030;
    width: 68px;
    height: 56px;
  }
}

.btn-burger-menu {
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .btn-burger-menu {
    display: none;
  }
}

.icon-burger-menu-open {
  width: 24px;
  height: 16px;
  fill: #FFFFFF;
}

.icon-burger-menu-close {
  width: 20px;
  height: 20px;
  fill: #191C26;
}

@media screen and (max-width: 768px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 40px;
    background-color: #FFFFFF;
    z-index: 10;
    -webkit-transform: translateX(100%) scaleX(0);
            transform: translateX(100%) scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: block;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0) scaleX(1);
          transform: translateX(0) scaleX(1);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .mobile-menu-wrapper {
    background-color: #FFFFFF;
    color: #191C26;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav-items {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav-items {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px;
  }
}

@media screen and (max-width: 768px) {
  .nav-item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav-link {
  font-weight: 600;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #191C26;
}

.nav-link:hover {
  color: #FF6C00;
}

@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 12px;
    color: #FFFFFF;
  }
  .nav-link:hover {
    color: #FF6C00;
  }
}

.active {
  color: #FF6C00;
}

.sidebar {
  background-color: #FFFFFF;
  position: absolute;
  left: calc(-100vh / 2 + 47px);
  width: 100vh;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar > ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar > ul::before {
  content: "";
  display: inline-block;
  margin: 48px 40px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.sidebar li:not(:last-child) {
  margin-right: 40px;
}

.social-link {
  padding: 42px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-link:hover, .social-link:focus {
  color: #FF6C00;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.phone-link {
  margin-right: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #303030;
}

@media screen and (max-width: 768px) {
  .phone-link {
    padding-top: 64px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .phone-link {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .phone-link {
    color: #FFFFFF;
    font-size: 12px;
  }
}

.slider {
  position: relative;
}

.hero-title {
  margin: 20px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 72px;
  }
}

.hero-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.about-image-box {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .about-image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(50% - 15px);
  }
}

.price-section {
  background-color: #111319;
  background-image: url(../images/bg-price.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

@media screen and (max-width: 1200px) {
  .price-box {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .price-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
}

@media screen and (min-width: 1200px) {
  .price-list {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .price-list:nth-child(odd) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .price-list:nth-child(even) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 5px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

@media screen and (min-width: 450px) {
  .price-item {
    padding: 0 40px;
  }
}

.price-item > p {
  padding-right: 20px;
}

.price-item > span {
  min-width: 36%;
}

.why-us-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.number-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .number-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .number-list {
    width: 60%;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .number-list {
    padding: 0 100px;
  }
}

.number-item {
  width: 193px;
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background: #F7F7F7;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

@media screen and (max-width: 450px) {
  .number-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 450px) {
  .number-item:nth-child(2n) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .number-item {
    width: 170px;
  }
}

.number-item span {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  position: relative;
}

.number-item span::after {
  content: "+";
  color: #FF6C00;
  position: absolute;
  top: 0;
  right: -15px;
  font-weight: 600;
  font-size: 16px;
}

.number-item p {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.01em;
}

.master-section {
  background-color: #F7F7F7;
}

.masters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .masters-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .master-card:not(:last-child) {
    margin-bottom: 64px;
  }
}

.master-card h4 {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.master-card span {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF6C00;
}

.master-social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
}

.master-social-box li:not(:last-child) {
  margin-right: 10px;
}

.master-social-link {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master-social-link svg {
  width: 20px;
  height: 20px;
  fill: #303030;
}

.master-social-link:hover svg,
.master-social-link:focus svg {
  fill: #FF6C00;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .gallery__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.gallery__description {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #000000ad;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery__item:hover .gallery__description {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.footer {
  background-color: #191C26;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../images/bg-footer.png);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: right center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form {
  height: inherit;
}

@media screen and (max-width: 768px) {
  .footer-form {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    width: calc(50% - 15px);
  }
}

.footer-form form {
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  .footer-form form {
    width: 100%;
  }
}

.footer-form .form-field {
  width: 100%;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.footer-form .form-label {
  position: relative;
  display: inline-block;
  width: calc(50% - 3px);
}

.form-label:hover .form-field,
.footer-form .form-field:focus {
  border-color: white;
}

.footer-form .form-field:focus {
  background-color: #fff;
}

.form-label legend {
  position: absolute;
  top: -3px;
  color: #9da4bd66;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.form-label:hover legend {
  color: white;
}

.footer-form .form-field:focus + legend,
.footer-form .form-field:not(:placeholder-shown) + legend {
  -webkit-transform: translate(-2px, -24px);
          transform: translate(-2px, -24px);
  color: white;
}

.footer-form .form-field:not(:placeholder-shown) {
  background-color: #fff;
}

textarea.form-field {
  display: block;
  width: 100%;
  resize: none;
}

textarea.form-field:focus {
  background-color: #fff;
}

textarea.form-field::-webkit-input-placeholder {
  color: #9da4bd66;
  text-transform: uppercase;
}

textarea.form-field:-ms-input-placeholder {
  color: #9da4bd66;
  text-transform: uppercase;
}

textarea.form-field::-ms-input-placeholder {
  color: #9da4bd66;
  text-transform: uppercase;
}

textarea.form-field::placeholder {
  color: #9da4bd66;
  text-transform: uppercase;
}

textarea.form-field:focus::-webkit-input-placeholder {
  color: #000;
}

textarea.form-field:focus:-ms-input-placeholder {
  color: #000;
}

textarea.form-field:focus::-ms-input-placeholder {
  color: #000;
}

textarea.form-field:focus::placeholder {
  color: #000;
}

textarea.form-field:not(:placeholder-shown) {
  background-color: #fff;
}

.footer-contacts {
  height: inherit;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

@media screen and (max-width: 768px) {
  .footer-contacts {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .footer-contacts {
    background-image: url(../images/bg-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    padding-left: 100px;
    width: calc(50% - 15px);
  }
}

.footer-address {
  padding-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-address {
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-box {
  padding-left: 50px;
  font-style: normal;
}

.contacts-box-item {
  position: relative;
  margin-bottom: 20px;
}

.contacts-box-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  width: 24px;
  height: 24px;
}

.contacts-box li:nth-of-type(1)::before {
  background-image: url(../images/icons/map-pin.svg);
}

.contacts-box li:nth-of-type(2)::before {
  background-image: url(../images/icons/phone.svg);
}

.contacts-box li:nth-of-type(3)::before {
  background-image: url(../images/icons/mail.svg);
}

.contacts-box a {
  position: relative;
  color: #9DA4BD;
}

.schedule-box {
  margin-top: auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .schedule-box {
    margin-top: 0px;
  }
}

.schedule-box p {
  margin-top: 20px;
}

.copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 125px;
  height: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}

@media screen and (max-width: 768px) {
  .copyright-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .copy-test {
    margin-right: auto;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social::before {
  content: "";
  display: inline-block;
  margin: 48px 40px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

@media screen and (max-width: 768px) {
  .social {
    margin-left: auto;
  }
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  padding: 20px 0;
}
/*# sourceMappingURL=main.css.map */