/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.section-box {
  width: 100%;
  padding: 130px 55px;
}

.description-container {
  width: 48%;
}

.section-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}

.section-title.lighten {
  color: #FFFFFF;
}

.suptitle-primary,
.suptitle-senondary {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.suptitle-primary {
  color: #303030;
}

.suptitle-senondary {
  color: rgba(157, 164, 189, 0.6);
}

.suptitle-senondary::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  background-color: #0f0f0f;
}

header {
  /* background-color: #303030; */
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

nav.navbar {
  width: 100%;
  padding: 30px 55px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
}

.nav-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 56px;
}

.logo-img {
  width: 68px;
  height: 56px;
  margin: 0 32px;
  fill: #303030;
  -webkit-animation-name: infiniteRotate;
          animation-name: infiniteRotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.nav-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 40px;
  background-color: #303030;
}

.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav-link:hover,
.nav-link:focus,
.social-link:hover,
.social-link:focus {
  color: #FF6C00;
}

.primary-btn {
  padding: 11px 19px;
  border: 1px solid #FF6C00;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}

.primary-btn.darken {
  color: #303030;
}

.sidebar {
  width: 155px;
  height: 100vh;
}

.slider {
  width: -webkit-calc(100% - 155px);
  width: calc(100% - 155px);
  background-image: -webkit-linear-gradient(45deg, #00000026, #00000025), url(../images/slider-3.jpg);
  background-image: -o-linear-gradient(45deg, #00000026, #00000025), url(../images/slider-3.jpg);
  background-image: linear-gradient(45deg, #00000026, #00000025), url(../images/slider-3.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
}

.hero-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.about-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-image-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
}

.price-section {
  background-color: #111319;
  background-image: url(../images/bg-price.png);
  background-repeat: no-repeat;
  position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

.price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 30px;
}

.price-list {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.price-list:nth-child(odd) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background-image: -webkit-linear-gradient(top, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  background-image: -o-linear-gradient(top, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:nth-child(even) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
  background-image: -webkit-linear-gradient(top, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  background-image: -o-linear-gradient(top, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 40px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.why-us-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.number-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
  padding: 0 100px;
}

.number-item {
  width: 170px;
  height: 132px;
  margin: 30px;
  background: #F7F7F7;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.number-item span {
  font-weight: 700;
  font-size: 42px;
}

.number-item p {
  font-weight: 600;
  font-size: 11px;
}

.master-section {
  background-color: #F7F7F7;
}

.masters-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.master-card h4 {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.master-card span {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF6C00;
}

.master-social-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 90px;
  margin-top: 10px;
}

.master-social-link {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.master-social-link svg {
  width: 20px;
  height: 20px;
  fill: #303030;
}

.master-social-link:hover svg,
.master-social-link:focus svg {
  fill: #FF6C00;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  width: 20%;
}

.gallery-item img {
  width: 100%;
}

.gallery-description {
  position: absolute;
  bottom: 100%;
  left: 0;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #000000ad;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-item:hover .gallery-description {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.image-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 640px;
  height: auto;
  background-color: #191C26;
  padding: 0 50px;
  background-image: url(../images/bg-footer.png);
  background-repeat: no-repeat;
  -webkit-background-size: 50% 100%;
          background-size: 50% 100%;
  background-position: right center;
}

.footer-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: inherit;
  padding-right: 50px;
}

.footer-form .form-field {
  width: 100%;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.footer-form .form-label {
  position: relative;
  display: inline-block;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
}

.form-label:hover .form-field,
.footer-form .form-field:focus {
  border-color: white;
}

.form-label legend {
  position: absolute;
  top: -3px;
  color: #585757;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  -o-transition: transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.form-label:hover legend {
  color: white;
}

textarea.form-field {
  display: block;
  width: 100%;
  resize: none;
}

textarea.form-field::-webkit-input-placeholder {
  color: white;
  text-transform: uppercase;
}

textarea.form-field:-ms-input-placeholder {
  color: white;
  text-transform: uppercase;
}

textarea.form-field::-ms-input-placeholder {
  color: white;
  text-transform: uppercase;
}

textarea.form-field::placeholder {
  color: white;
  text-transform: uppercase;
}

.footer-form .form-field:focus + legend {
  -webkit-transform: translate(-2px, -24px);
      -ms-transform: translate(-2px, -24px);
          transform: translate(-2px, -24px);
  color: white;
}

.footer-contacts {
  width: 50%;
  height: inherit;
}

.footer-contacts {
  padding: 130px 105px 130px 100px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contacts-box {
  padding-left: 50px;
}

.contacts-box-item {
  position: relative;
}

.contacts-box-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  width: 24px;
  height: 24px;
  /* background-color: lavender; */
  /* background-image: url(../images/icons/map-pin.svg); */
}

.contacts-box li:nth-of-type(1)::before {
  background-image: url(../images/icons/map-pin.svg);
}

.contacts-box li:nth-of-type(2)::before {
  background-image: url(../images/icons/phone.svg);
}

.contacts-box li:nth-of-type(3)::before {
  background-image: url(../images/icons/mail.svg);
}

.contacts-box a {
  position: relative;
  color: #9DA4BD;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 125px;
  height: auto;
  padding: 0 50px;
}
/*# sourceMappingURL=main.css.map */