.about-image-box {
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        width: calc(50% - 15px);
    }
}