header {
    // position: relative;
    height: 100vh;
}

.header-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #00000026, #00000025), url(../images/slider-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    @media screen and (min-width: $tablet) {
        width: 710px;
        right: -40px;
    }
    @media screen and (min-width: $desktop) {
        width: 1125px;
        right: -40px;
    }
}

.top-line-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.nav-holder {
    display: flex;
}

.navbar-brand {
    padding: 2px;
}

.menu-fixed {
    background-color: $secondary-color;
    transition: all 250ms linear;
}

.menu-fixed-logo {
    border-radius: 32px;
    & .logoimg {
        fill: $color-white;
    }
}

.logoimg {
    width: 58px;
    height: 46px;
    fill: $color-white;
    @media screen and (min-width: $tablet) {
        fill: $text-primary;
        width: 68px;
        height: 56px;
    }
    // animation-name: infiniteRotate;
    // animation-duration: 5s;
    // animation-iteration-count: infinite;
}

.btn-burger-menu {
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    margin-left: auto;
    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.icon-burger-menu-open {
    width: 24px;
    height: 16px;
    fill: $color-white;
}

.icon-burger-menu-close {
    background-color: blanchedalmond;
    width: 20px;
    height: 20px;
    fill: $secondary-color;
}

.menu-container {
    @media screen and (max-width: $tablet) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 15px 40px;
        background-color: $color-white;
        z-index: 10;
        transform: translateX(100%) scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in-out;
    }
    @media screen and (min-width: $tablet) {
        display: block;
    }
}

.menu-container.is-open {
    transform: translateX(0) scaleX(1);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
}

// ---
.mobile-menu-wrapper {
    @media screen and (max-width: $tablet) {
        background-color: $color-white;
        color: $secondary-color;
    }
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.nav-items {
    @media screen and (min-width: $tablet) {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 70px;
    }
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    font-weight: 600;
    padding: 20px 0;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: $secondary-color;
    &:hover {
        color: $primary-color;
    }
    @media screen and (min-width: $tablet) {
        font-size: 12px;
        color: $color-white;
        &:hover {
            color: $primary-color;
        }
    }
}

.active {
    color: $primary-color;
}

.sidebar {
    background-color: $color-white;
    position: absolute;
    left: calc(-100vh / 2 + 47px);
    width: 100vh;
    transform: rotate(-90deg);
    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.sidebar>ul {
    width: max-content;
    transform-origin: top left;
    display: flex;
    &::before {
        content: "";
        display: inline-block;
        margin: 48px 40px;
        width: 60px;
        height: 1px;
        background-color: $text-primary;
    }
}

.sidebar li:not(:last-child) {
    margin-right: 40px;
}

.social-link {
    padding: 42px 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: $text-primary;
    &:hover,
    &:focus {
        color: $primary-color;
    }
}

.btn-box {
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        flex-direction: column-reverse;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
    }
}

.phone-link {
    margin-right: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: $text-primary;
    @media screen and (max-width: $tablet) {
        padding-top: 64px;
        padding-bottom: 24px;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        margin-right: 0;
    }
    @media screen and (min-width: $tablet) {
        color: $color-white;
        font-size: 12px;
    }
}

.slider {
    position: relative;
}

.hero-title {
    margin: 20px 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: $color-white;
    @media screen and (min-width: $tablet) {
        font-size: 72px;
    }
}

.hero-description {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $text-secondary;
}