.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.nav-holder {
    display: flex;
}

.navbar-brand {
    padding: 5px;
}

.menu-fixed {
    background-color: $secondary-color;
    ;
    transition: all 250ms linear;
}

.menu-fixed-logo {
    background: rgb(255, 255, 255);
    border-radius: 32px;
    padding: 5px;
}

.logoimg {
    width: 68px;
    height: 56px;
    fill: $text-primary;
    // animation-name: infiniteRotate;
    // animation-duration: 5s;
    // animation-iteration-count: infinite;
}

.nav-items {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    font-weight: 600;
    padding: 20px 0;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: $color-white;
    &:hover {
        color: $primary-color;
    }
}

.active {
    color: $primary-color;
}

.sidebar {
    width: 100px;
    height: 0;
}

.sidebar>ul {
    width: max-content;
    transform: rotate(-90deg);
    transform-origin: top left;
    display: flex;
    &::before {
        content: "";
        display: inline-block;
        margin: 48px 40px;
        width: 60px;
        height: 1px;
        background-color: $text-primary;
    }
}

.sidebar li:not(:last-child) {
    margin-right: 40px;
}

.social-link {
    padding: 42px 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: $text-primary;
    &:hover,
    &:focus {
        color: $primary-color;
    }
}

.btn-box {
    display: flex;
    align-items: center;
}

.phone-link {
    margin-right: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.slider {
    height: 100%;
    width: calc(100% - 100px);
    display: flex;
    align-items: center;
    padding-left: 100px;
    background-image: linear-gradient(45deg, #00000026, #00000025), url(../images/slider-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-title {
    margin: 20px 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: $color-white;
}

.hero-description {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $text-secondary;
}