body {
    font-family: 'Open Sans', sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes infiniteRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid rgb(59, 85, 230);
    // @media screen and (max-width: $tablet) {
    //     max-width: $mobile;
    // }
    // @media screen and (min-width: $tablet) and (max-width: $desktop),
    // (orientation: landscape) {
    //     max-width: $tablet;
    // }
    // @media screen and (min-width: $desktop) {
    width: $desktop;
    // }
}

.container--navbar {
    padding: 32px 15px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #fff 10%, #303030 10%);
}

.container--hero {
    display: flex;
    // justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
}

// .container--flex {
//     @include centeredFlex();
// }
// .container--mobile-menu {
//     @media screen and (max-width: $tablet - 1px) {
//         min-height: 60px;
//         justify-content: space-between;
//         flex-direction: row-reverse;
//     }
// }
.section-box {
    width: 100%;
    padding: 130px 55px;
}

.description-container {
    width: 48%;
}

.section-description {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $text-primary-lighten;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $text-primary;
}

.section-title.lighten {
    color: $color-white;
}

.suptitle-primary,
.suptitle-senondary {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.suptitle-primary {
    color: $text-primary;
}

.suptitle-senondary {
    color: rgba(157, 164, 189, 0.6);
}

.suptitle-senondary::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 1px;
    background-color: rgb(15, 15, 15);
}

.primary-btn {
    padding: 11px 19px;
    border: 1px solid $primary-color;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $color-white;
    background-color: transparent;
    cursor: pointer;
}

.primary-btn.darken {
    color: $text-primary;
}