body {
    font-family: 'Open Sans', sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes infiniteRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    margin: 0 auto;
    outline: 1px solid #333;
    @media screen and (max-width: $mobile) {
        max-width: $mobile;
    }
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        width: $mobile;
    }
    @media screen and (max-width: $tablet) {
        padding: 0 30px;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: 780px;
        padding: 0 40px;
    }
    @media screen and (min-width: $desktop) {
        width: $desktop;
        padding: 0 15px;
    }
}

.container--flex {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
}

.container--navbar {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.container--hero {
    display: flex;
    align-items: flex-end;
    height: 100vh;
}

.container--about {
    @media screen and (max-width: $tablet) {}
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.container--why-us {
    @media screen and (max-width: $desktop) {
        flex-direction: column-reverse;
    }
}

.container--master-tablet {
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: 530px;
    }
}

.description-container {
    // @media screen and (max-width: $tablet) {
    //     width: calc(50% - 30px);
    // }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: calc(50% - 15px);
    }
    @media screen and (min-width: $desktop) {
        width: calc(50% - 15px);
    }
}

.description-container--why-us {
    @media screen and (max-width: $desktop) {
        width: 100%;
    }
}

// .container--flex {
//     @include centeredFlex();
// }
// .container--mobile-menu {
//     @media screen and (max-width: $tablet - 1px) {
//         min-height: 60px;
//         justify-content: space-between;
//         flex-direction: row-reverse;
//     }
// }
.section-box {
    width: 100%;
    // @media screen and (max-width: $mobile) {
    // }
    @media screen and (max-width: $tablet) {
        padding: 84px 0;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        padding: 100px 0;
    }
    @media screen and (min-width: $desktop) {
        padding: 130px 0;
    }
}

.section-suptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &::before {
        content: "";
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
        width: 60px;
        height: 1px;
        background-color: $color-suptitle;
    }
}

.section-suptitle--primary {
    color: $text-primary;
}

.section-suptitle--senondary {
    color: $color-suptitle;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: $text-primary;
    margin: 20px 0;
    @media screen and (max-width: $tablet) {}
    @media screen and (min-width: $tablet) and (max-width: $desktop) {}
    @media screen and (min-width: $desktop) {
        font-size: 42px;
    }
}

.section-title--lighten {
    color: $color-white;
}

.section-title--price {
    margin-bottom: 44px;
}

.section-subtitle {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $text-primary-lighten;
}

.section-subtitle--why-us {
    margin-bottom: 44px;
    @media screen and (min-width: $tablet) {
        width: 500px;
    }
}

.section-description {
    margin: 20px 0 40px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: $text-primary-lighten;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.primary-btn {
    min-width: 160px;
    display: inline-block;
    padding: 11px 19px;
    border: 1px solid $primary-color;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $color-white;
    background-color: transparent;
    cursor: pointer;
}

.primary-btn--darken {
    color: $text-primary;
}