body {
    font-family: 'Open Sans', sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes infiniteRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container {
    margin: 0 auto;
    @media screen and (max-width: $mobile) {
        max-width: $mobile;
    }
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        width: $mobile;
    }
    @media screen and (max-width: $tablet) {
        padding: 0 30px;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: 780px;
        padding: 0 40px;
    }
    @media screen and (min-width: $desktop) {
        width: $desktop;
        padding: 0 15px;
    }
}

.container__footer-outside {
    @media screen and (min-width: $desktop) {
        margin: 0 auto;
        width: $desktop;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }
}

.container__footer-inside {
    @media screen and (max-width: $mobile) {
        max-width: $mobile;
    }
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
        width: $mobile;
    }
    @media screen and (max-width: $tablet) {
        padding: 0 30px;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: 780px;
        padding: 0 40px;
    }
    @media screen and (max-width: $desktop) {
        margin: 0 auto;
    }
}

.container--flex {
    display: flex;
}

.container--navbar {
    padding: 4px 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: $tablet) {
        flex-direction: column;
    }
    @media screen and (min-width: $tablet) {
        padding: 10px 30px;
    }
}

.container--hero {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    @media screen and (min-width: $tablet) {
        padding-left: 200px;
    }
}

.container--about {
    @media screen and (max-width: $tablet) {}
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.container--why-us {
    @media screen and (max-width: $desktop) {
        flex-direction: column-reverse;
    }
}

.container--master-tablet {
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: 530px;
    }
}

.description-container {
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        width: calc(50% - 15px);
    }
    @media screen and (min-width: $desktop) {
        width: calc(50% - 15px);
    }
}

.description-container--why-us {
    @media screen and (max-width: $desktop) {
        width: 100%;
    }
}

.section-box {
    width: 100%;
    @media screen and (max-width: $tablet) {
        padding: 84px 0;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
        padding: 100px 0;
    }
    @media screen and (min-width: $desktop) {
        padding: 130px 0;
    }
}

.section-suptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &::before {
        content: "";
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
        width: 60px;
        height: 1px;
        background-color: $color-suptitle;
    }
}

.section-suptitle--primary {
    color: $text-primary;
}

.section-suptitle--senondary {
    color: $color-suptitle;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: $text-primary;
    margin: 20px 0;
    @media screen and (min-width: $desktop) {
        font-size: 42px;
    }
}

.section-title--lighten {
    color: $color-white;
}

.section-title--center {
    @media screen and (max-width: $tablet) {
        text-align: center;
    }
}

.section-title--price {
    margin-bottom: 44px;
}

.section-subtitle {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: $text-primary-lighten;
}

.section-subtitle--why-us {
    margin-bottom: 44px;
    @media screen and (min-width: $tablet) {
        width: 500px;
    }
}

.section-description {
    margin: 20px 0 40px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: $text-primary-lighten;
}

.btn-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 160px;
}

.primary-btn {
    min-width: 160px;
    display: inline-block;
    padding: 11px 19px;
    border: 1px solid $primary-color;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $color-white;
    background-color: transparent;
    cursor: pointer;
    transition: color $function-time, background-color $function-time;
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: $primary-color;
    color: $color-white;
}

.primary-btn--footer-form {
    @media screen and (max-width: $tablet) {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.primary-btn--darken {
    color: $text-primary;
}

.color-mobile-menu {
    @media screen and (max-width: $tablet) {
        color: $text-primary;
    }
}