// Here located indentations and their settings

//Paddings

@mixin custom-padding($t,$r,$b,$l) { // Top | Right | Bottom | Left
	padding: $t $r $b $l;
}

@mixin box-padding { // Used mainly in containers
	padding: 22px 30px;
}

//Margins

@mixin custom-margin($t,$r,$b,$l) { // Top | Right | Bottom | Left
	margin: $t $r $b $l;
}

@mixin margin-X_30px { // Used mainly in centered containers
	margin-left: 30px;
	margin-right: 30px;
}